{% extends 'base.html.twig' %}

{% block body %}
    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/1.jpg)">
                    <div class="caption">
                        <img src="{{ asset('images/logoBack.png') }}"/>
                        <h1 class="animated fadeInLeftBig">Bienvenue sur <span>dévart.com</span></h1>
                        <p class="animated fadeInRightBig">Développeur web freelance</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">En savoir +</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/2.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Responsive <span>Design</span></h1>
                        <p class="animated fadeInRightBig">Votre site s'adapte à l'écran de vos visiteurs</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">En savoir +</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/3.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Web <span>Design</span></h1>
                        <p class="animated fadeInRightBig">Création d'une identité visuelle à votre image</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">En savoir +</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

            <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

        </div><!--/#home-slider-->

        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">
                        <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Accueil</a></li>
                        <li class="scroll"><a href="#about-us">Présentation</a></li>
                        <li class="scroll"><a href="#services">Services</a></li>

                        <li class="scroll"><a href="#portfolio">Réalisations</a></li>
                        <li class="scroll"><a href="#skills">Compétences</a></li>
                        <li class="scroll"><a href="#blog">Blog</a></li>
                        <li class="scroll"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/#main-nav-->
    </header><!--/#home -->
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img id="moi" class="img-responsive" src="{{ asset('images/moi.jpg') }}"/>
                </div>
                <div class="col-sm-6">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                        <div class="name">
                            <h1 class="animated fadeInLeftBig">Stephen <span>Dupré</span></h1>
                        </div>
                        <hr>
                        <br/>
                        <h2 class="title-presentation">Développeur freelance, je vous conseille et vous accompagne dans
                            la construction
                            de vos projets web.</h2><br/>
                        <br/>
                        <p>
                            Parce que mon métier ne s’arrête pas derrière mes lignes de code, j’analyse vos contraintes
                            avant de mettre au point la solution technique qui répond réellement à vos exigences.
                        </p>
                        <p>
                            Pour vos projets, je choisis des technologies flexibles, évolutives et adaptables, qui vous
                            offriront des back-offices aux interfaces intuitives, faciles à manipuler, sans
                            fonctionnalité superflue.
                        </p>
                        <p>
                            Agences, professionnels, graphistes, que ce soit pour le développement complet d’un site, la
                            reprise/maintenance d’une administration, ou encore pour renforcer vos équipes, je me mets à
                            votre service pour vous proposer des solutions robustes et efficaces, adaptées à vos
                            besoins.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section><!--/#services-->
    <section id="services" class="parallax">
        <div class="container">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2>Développeur Web <span>Full-Stack</span></h2>
                        <p>Passionné par le domaine du web, j’aime en explorer les dernières technologies. Ainsi,
                            j'interviens dans de nombreux domaines : voici les principaux.</p>
                    </div>
                </div>
            </div>
            <div class="text-center our-services">
                <div class="row">
                    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-icon">
                            <i class="fa fa-wordpress"></i>
                        </div>
                        <div class="service-info">
                            <h3>WORDPRESS</h3>
                            <p>Ce qui était à l'origine un simple moteur de blog plutôt qu'un véritable CMS est devenu
                                aujourd'hui le leader incontesté au niveau mondial (en nombre de sites).
                                Sa grande simplicité est son atout principal, mais Wordpress peut s'avérer moins adapté
                                pour des projets complexes.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="service-info">
                            <h3>DÉVELOPPEMENT WEB</h3>
                            <p>Je développe votre site, vitrine, boutique ou application web. J’utilise les technologies
                                les plus performantes (HTML5, CSS3, Bootstrap,jQuery, Php & Symfony 3) et les meilleures
                                solutions open source disponibles ( Worpress, Prestashop, Drupal 7 ) pour le
                                développement de sites internet et d'applications.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                        <div class="service-icon">
                            <i class="fa fa-mobile-phone"></i>
                        </div>
                        <div class="service-info">
                            <h3>RESPONSIVE DESIGN</h3>
                            <p>Site Web Responsive La philosophie du design responsive est un puissant moyen de création
                                de sites web adaptés mobile. Je peux vous aider à accroître l’engagement et la rétention
                                des utilisateurs en créant un site Web évoluant de façon transparente entre les
                                différents types d’appareils.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                        <div class="service-icon">
                            <i class="fa fa-area-chart"></i>
                        </div>
                        <div class="service-info">
                            <h3>Web analyse</h3><br/>
                            <p>Le site sera livré lié à un compte Google Analytics, <br/>qui comprend analyse des
                                visites et de la fréquentation du site. Un plan de tracking personnalisé peut également
                                être prévu.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
                        <div class="service-icon">
                            <i class="fa fa-google"></i>
                        </div>
                        <div class="service-info">
                            <h3>RÉFÉRENCEMENT</h3>
                            <h4>SEO & SEA</h4>
                            <p>Le but d'un site web est d'être visité. Je peux vous accompagner dans l'optimisation de
                                la visibilité de votre site web sur les moteurs de recherche, que cela soit du
                                référencement naturel ou payant.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                        <div class="service-icon">
                            <i class="fa fa-dashboard"></i>
                        </div>
                        <div class="service-info">
                            <h3>GESTION DE PROJET</h3>
                            <p>Envie de me confier votre projet de A à Z ? Nous étudierons ensemble vos besoins jusqu'à
                                rédaction puis validation d'un cahier des charges ; étant en étroite relation avec
                                d'autres indépendants, je peux transférer la réalisation graphique en toute confiance,
                                tout en m'occupant des développements et de vos retours.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#about-us-->

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms"
                     data-wow-delay="300ms">
                    <h2>Mes <span>Réalisations</span></h2>
                    <h3>Une partie des projets que j'ai réalisé :</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/1.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>WEBAGENCY</h3>
                                        <p>Site Vitrine</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a href="http://213.32.18.56/Projet1/index.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/9.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/10.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>WriterBlog</h3>
                                        <p>Blog d'un écrivain</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a class="folio-read-more" href="#"
                                                                    data-single_url="portfolio-single.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/3.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/11.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>Génération Haribo</h3>
                                        <p>Boutique en ligne (symfony 3)</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a class="folio-read-more" href="#"
                                                                    data-single_url="portfolio-single.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/4.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/12.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>DOGYCAT</h3>
                                        <p>E-COMMERCE</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a class="folio-read-more" href="#"
                                                                    data-single_url="portfolio-single.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/5.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/13.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>Vélib'</h3>
                                        <p>Application de réservation de Vélib' sur Paris</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a href="http://213.32.18.56/Velib'%201.0/index.html"
                                                                    data-single_url="portfolio-single.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/capture.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/14.png" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>dévart.com</h3>
                                        <p>Site vitrine et blog</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a href="#home"
                                                                    data-single_url="portfolio-single.html"><i
                                                        class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="images/portfolio/15.png"
                                                                      data-lightbox="portfolio"><i
                                                        class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <div class="col-sm-3">
                      <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
                          <div class="folio-image">
                              <img class="img-responsive" src="images/portfolio/6.jpg" alt="">
                          </div>
                          <div class="overlay">
                              <div class="overlay-content">
                                  <div class="overlay-text">
                                      <div class="folio-info">
                                          <h3>Time Hours</h3>
                                          <p>Design, Photography</p>
                                      </div>
                                      <div class="folio-overview">
                                          <span class="folio-link"><a class="folio-read-more" href="#"
                                                                      data-single_url="portfolio-single.html"><i
                                                          class="fa fa-link"></i></a></span>
                                          <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg"
                                                                        data-lightbox="portfolio"><i
                                                          class="fa fa-search-plus"></i></a></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
                          <div class="folio-image">
                              <img class="img-responsive" src="images/portfolio/7.jpg" alt="">
                          </div>
                          <div class="overlay">
                              <div class="overlay-content">
                                  <div class="overlay-text">
                                      <div class="folio-info">
                                          <h3>Time Hours</h3>
                                          <p>Design, Photography</p>
                                      </div>
                                      <div class="folio-overview">
                                          <span class="folio-link"><a class="folio-read-more" href="#"
                                                                      data-single_url="portfolio-single.html"><i
                                                          class="fa fa-link"></i></a></span>
                                          <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg"
                                                                        data-lightbox="portfolio"><i
                                                          class="fa fa-search-plus"></i></a></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
                          <div class="folio-image">
                              <img class="img-responsive" src="images/portfolio/8.jpg" alt="">
                          </div>
                          <div class="overlay">
                              <div class="overlay-content">
                                  <div class="overlay-text">
                                      <div class="folio-info">
                                          <h3>Time Hours</h3>
                                          <p>Design, Photography</p>
                                      </div>
                                      <div class="folio-overview">
                                          <span class="folio-link"><a class="folio-read-more" href="#"
                                                                      data-single_url="portfolio-single.html"><i
                                                          class="fa fa-link"></i></a></span>
                                          <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg"
                                                                        data-lightbox="portfolio"><i
                                                          class="fa fa-search-plus"></i></a></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
          -->    </div>
        </div>
        <div id="portfolio-single-wrap">
            <div id="portfolio-single">
            </div>
        </div><!-- /#portfolio-single-wrap -->
    </section><!--/#portfolio-->

    <section id="skills">
        <div class="container">
            <div class="row wow fadeInDown" data-wow-duration="500ms">

                <!-- section title -->
                <div class="title text-center">
                    <h2>Mes <span>Compétences </span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
                <div class="col-md-3">
                    <h3 class="title-small">
                        <span>Skills</span>
                    </h3>
                    <p class="content-detail">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
                <div class="col-md-9 content-right">
                <!-- skill set -->
                <!--SKILLST-->
                <div class="skillst">
                    <div class="skillbar" data-percent="80%">
                        <div class="title head-sm">
                            Wordpress
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="78%">
                        <div class="title head-sm">
                            HTML 5
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="91%">
                        <div class="title head-sm">
                            CSS 3
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="58%">
                        <div class="title head-sm">
                            jQuery
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="75%">
                        <div class="title head-sm">
                            PHP 7
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="63%">
                        <div class="title head-sm">
                            Symfony 3
                        </div>
                        <div class="count-bar">
                            <div class="count"></div>
                        </div>
                    </div>
                </div>
                <!--/.SKILLST END-->
                </div>
            </div>        <!-- End row -->
        </div>    <!-- End container -->
    </section>   <!-- End section -->
    <!--/#team-->



    <section id="twitter-feed" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">

                    <!-- twitter bird -->
                    <div class="twitter-bird wow fadeInDown" data-wow-duration="500ms">
							<span>
								<i class="fa fa-twitter fa-4x"></i>
							</span>
                    </div>

                    <h2 class="white">Dernier Tweet</h2>
                    <!-- /twitter bird -->

                    <!-- fetching tweet -->
                    <div class="tweet wow fadeIn" data-wow-duration="2000ms"></div>
                    <!-- /fetching tweet -->

                    <!-- follow us button -->
                    <a href="https://twitter.com/devart64" title="Follow Us" target="_blank"
                       class="btn-tweet wow fadeInUp" data-wow-duration="500ms">Suivez Moi</a>
                    <!-- /follow us button -->

                </div>
            </div>       <!-- End row -->
        </div>    <!-- End container -->
    </section> <!--/#twitter-->

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms"
                     data-wow-delay="300ms">
                    <h2 class="blog">Blog <span>Posts</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua ut enim ad minim veniam</p>
                </div>
            </div>
            <div class="blog-posts">
                <div class="row">
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="post-thumb">
                            <a href="#"><img class="img-responsive" src="images/blog/1.jpg" alt=""></a>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                                <span><i class="fa fa-heart"></i> 0 Likes</span>
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                            <span class="date">June 26, 2014</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="post-thumb">
                            <div id="post-carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#post-carousel" data-slide-to="1"></li>
                                    <li data-target="#post-carousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="#"><img class="img-responsive" src="images/blog/2.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img class="img-responsive" src="images/blog/1.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img class="img-responsive" src="images/blog/3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i
                                            class="fa fa-angle-left"></i></a>
                                <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i
                                            class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                                <span><i class="fa fa-heart"></i> 0 Likes</span>
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                            <span class="date">June 26, 2014</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="post-thumb">
                            <a href="#"><img class="img-responsive" src="images/blog/3.jpg" alt=""></a>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                                <span><i class="fa fa-heart"></i> 0 Likes</span>
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-video-camera"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                            <span class="date">June 26, 2014</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a href="#" class="btn-loadmore"><i class="fa fa-repeat"></i> Plus de Posts</a>
                </div>
            </div>
        </div>
    </section><!--/#blog-->

    <section id="contact">
        <div id="google-map" class="wow fadeIn" data-latitude="43.357668" data-longitude="-1.628109"
             data-wow-duration="1000ms" data-wow-delay="400ms"></div>
        <div id="contact-us" class="parallax">
            <div class="container">
                <div class="row">
                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <h2>Contactez <span>moi</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="row">
                        <div class="col-sm-6">
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Votre nom"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control"
                                                   placeholder="Votre mail" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Objet"
                                           required="required">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="4"
                                              placeholder="Votre message" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-submit">Envoyer</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <h2>Coordonnées</h2>
                                <p>Je suis à votre écoute pour discuter de votre projet, répondre à votre besoin,
                                    pour une collaboration ou un partenariat...</p><br/>
                                <ul class="address">
                                    <li><i class="fa fa-home fa-lg"></i> <span> 3 allée Larre Goiti Bidea 64310 Ascain, France</span>
                                    </li>
                                    <li><i class="fa fa-phone fa-lg"></i> <span> Mobile:</span> 07.81.28.39.65</li>
                                    <li><i class="fa fa-envelope"></i> <span> Email:</span> devart.freelance@gmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#contact-->
    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">
                <div class="footer-logo">
                    <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a class="envelope" href="https://github.com/devart64"><i
                                        class="fa fa-github fa-2x"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/devart64"><i
                                        class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a class="dribbble" href="https://dribbble.com/DEVART"><i class="fa fa-dribbble fa-2x"></i></a>
                        </li>
                        <li><a class="facebook" href="https://www.facebook.com/dev.art.756"><i
                                        class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/stephen-dupré-06888a118"><i
                                        class="fa fa-linkedin fa-2x"></i></a></li>
                        <li><a class="tumblr" href="https://www.youtube.com/channel/UC_MfmlYJ6sa8ZkFrh-OrdTw"><i
                                        class="fa fa-youtube fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&copy; 2017 dév'art Theme.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right">Crafted by <a href="{{ path('homepage') }}"><img
                                        src="{{ asset('images/footer-devart.png') }}"/></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
